body {
    margin: 0;
    font-family: 'Geologica', sans-serif;
    font-size: 0.9rem;
}

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    grid-template-columns: 10rem auto;
    grid-template-rows: 6rem auto;
    overflow: auto;
    grid-template-areas:
        "banner banner"
        "menu content";
}

.banner {
    background-color: #909090;
    grid-area: banner;

    display: flex;
    flex-direction: row;

    align-items: center;

}

.menu {
    background-color: #b7ee7d;
    display: flex;
    flex-direction: column;
    padding-top: .8rem;
}

.projects {
    text-align: center;
}

.content {
    background-color: #FAFAFA;
    grid-area: content;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.tab {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48
}

.contentHeaderBar {
    background-color: rgb(241, 255, 237);
    margin: 0 auto;
    width: 420px;
    height: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;
    /*Add font style here*/
}

#task {
    background: url(./images/task.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 1rem;
    height: 1rem;
}

#addProject {
    background: url(./images/add.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 1rem;
    height: 1rem;
}

#title {
    background: url(./images/banner.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 4rem;
    height: 4rem;
}

.addIcon {
    background: url(./images/addtask.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 1rem;
    height: 1rem;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: start;
    cursor: pointer;
}

#closeTaskWindow {
    background: url(./images/close.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 1.2rem;
    height: 1.2rem;
    align-self: flex-end;
    border-style: none;
    cursor: pointer;
}

.taskbarDelete {
    background: url(./images/delete.svg) no-repeat center center;
    background-size: cover;
    margin: 0px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.taskWindow {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;
}

.taskWindowContent {
    background-color: rgb(255, 249, 253);
    margin: 10% auto;
    margin-top: 0%;
    padding: 20px;
    border-style: none;
    width: 380px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.taskContentTitle{
    width: 100%;
    border: none;
}

.taskContentDesc{
    width: 100%;
    border: none;
    resize: none;
}

.show {
    display: block;
}

.showFlex {
    display: flex;
}

.doneLabel {
    position: relative;
    display: inline-block;
}

/* Input */
.doneLabel>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.doneLabel>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.doneLabel>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.doneLabel>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.doneLabel>input:checked,
.doneLabel>input:indeterminate {
    background-color: #018786;
}

.doneLabel>input:checked+span::before,
.doneLabel>input:indeterminate+span::before {
    border-color: #018786;
    background-color: #018786;
}

.doneLabel>input:checked+span::after,
.doneLabel>input:indeterminate+span::after {
    border-color: #fff;
}

.doneLabel>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.doneLabel:hover>input {
    opacity: 0.04;
}

.doneLabel>input:focus {
    opacity: 0.12;
}

.doneLabel:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.doneLabel>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.doneLabel>input:active+span::before {
    border-color: #85b8b7;
}

.doneLabel>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.doneLabel>input:disabled {
    opacity: 0;
}

.doneLabel>input:disabled+span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.doneLabel>input:disabled+span::before {
    border-color: currentColor;
}

.doneLabel>input:checked:disabled+span::before,
.doneLabel>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}

.taskBar {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 100%;

    background-color: #e0dbd8;
    border-radius: 10px;
}

.lowBar {
    background-color: #71ff94;
    width: .4rem;
    height: 3rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mediumBar {
    background-color: #ffd900;
    width: .4rem;
    height: 3rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.highBar {
    background-color: #ff6464;
    width: .4rem;
    height: 3rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.taskbarDue {
    margin-left: auto;
}

.descWindow {
    color: white;
    background-color: #909090;
    height: 8rem;
    width: 100%;
}

.finished {
    opacity: .4;
}

.strike {
    text-decoration: line-through;
}

.projectTab {
    cursor: pointer;
}

/* geologica-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Geologica200';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/geologica-v1-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geologica-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/geologica-v1-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* geologica-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Geologica700';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/geologica-v1-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Aesthetic CSS*/
.titleText {
    font-family: 'Geologica700', sans-serif;
    font-size: 3rem;
    color: #FAFAFA;
}

/*Button Style Preset*/

/* CSS */
.button-16 {
    margin-top: 1rem;
    background-color: #c2ff90;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #707070;
    cursor: pointer;
    font-family: 'Geologica', sans-serif;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: pre;
}

.button-16:hover {
    border-color: #dadce0;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
    color: #202124;
}

.button-16:focus {
    border-color: #4285f4;
    outline: none;
}

.priorityDiv{
    margin-top: .5rem;
}

input[type="radio"] {
    appearance: none;
    margin: 0px;
    
}

label{
    font-family: 'Geologica200', sans-serif;
    font-size: 1rem;
}

label[for="low"] {
    padding: 2px 6px;
    background-color: rgb(165, 255, 142);
    border-radius: 12%;
    margin-right: 1rem;
}

label[for="medium"] {
    padding: 2px 6px;
    background-color: rgb(255, 243, 69);
    border-radius: 12%;
    margin-right: 1rem;
}

label[for="high"] {
    padding: 2px 6px;
    background-color: rgb(255, 105, 95);
    border-radius: 12%;
}