body{
    margin: 0;
}

#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;

    grid-template-columns: 10rem auto;
    grid-template-rows: 6rem auto;
    overflow: auto;
    grid-template-areas:
    "banner banner"
    "menu content";
}

.banner{
    background-color: #464646;
    grid-area: banner;

    display: flex;
    flex-direction: row;

    align-items: center;
    
}

.menu{
    background-color: #b7ffc9;
    grid-area: menu;
}

.content{
    background-color: #fcf7f5;
    grid-area: content;
}

.tab {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

#task{
    background: url(./images/task.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 1rem;
    height: 1rem;
}

#addProject{
    background: url(./images/add.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 1rem;
    height: 1rem;
}

#title{
    background: url(./images/banner.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 4rem;
    height: 4rem;
}

.addIcon {
    background: url(./images/addtask.svg) no-repeat center center;
    margin: 0px;
    background-size: cover;
    width: 1rem;
    height: 1rem;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.taskWindow {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.show{
    display: block;
}